<div class="header_table">
    <span class="title_table">Balanço Patrimonial</span>
    <div class="fR buttons_holder">
        <button ng-click="balancoCtrl.sendData()" class="btn btn-primary">Enviar Seleção</button>
        <button ng-click="balancoCtrl.gerar_balanco()" class="btn btn-success">Gerar balanço patrimonial</button>
    </div>
</div>
<div ng-if="appCtrl.vars.soft == true">
    <div class="row">
        <div class="col-md-12">
            <div ng-bind-html="balancoCtrl.grid"></div>
        </div>
    </div>
</div>
<div ng-if="appCtrl.vars.soft == false">
    <!-- MONGO -->
    <table ng-init="balancoCtrl.usar_balanco()" id="balanco_mongo">
        <tr>
            <td></td>
        </tr>
    </table>
    <div id="pager_balanco_mongo"></div>
</div>