<h1 style="cursor: pointer;" ng-click="folhaTrabalhoCtrl.setTreeVisible()">{{folhaTrabalhoCtrl.titulo}}</h1>
<!-- <p>Thiss template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
<p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p> -->
<div class="row">
	<div class="col-md-4" ng-show="folhaTrabalhoCtrl.treeVisible">
		<div id="tree"></div>
	</div>
	<div class="col-md-8">
		<!-- <div class="container"> -->
			<!-- <section> -->
				<ul class="nav nav-pills">
					<!-- <li ng-class="{active:folhaTrabalhoCtrl.isSet(0)}"><a href ng-click="folhaTrabalhoCtrl.setTab(0)">Aba 1</a></li> -->
					<li ng-repeat="tab in folhaTrabalhoCtrl.tabs" ng-class="{active:folhaTrabalhoCtrl.isSet(tab.id)}"><a href ng-click="folhaTrabalhoCtrl.setTab(tab.id)">Aba {{tab.id + 1}}</a></li>
					<li><a href ng-click="folhaTrabalhoCtrl.addTab()">+</a></li>
				</ul>
				<!-- <div ng-show="folhaTrabalhoCtrl.isSet(0)">
					<h4>Aba 1</h4>
					<div id="handsontable_1"></div>
					<button type="button" class="btn btn-default" ng-click="folhaTrabalhoCtrl.salvar_folha_trabalho(0)">Salvar</button>
					<button type="button" class="btn btn-default" ng-click="folhaTrabalhoCtrl.exportar_folha_trabalho(0)">Exportar CSV</button>
				</div> -->
				<div ng-repeat="tab in folhaTrabalhoCtrl.tabs" ng-show="folhaTrabalhoCtrl.isSet(tab.id)">
					<h4>Aba {{tab.id}}</h4>
					<div id="handsontable_{{tab.id}}"></div>
					<button type="button" class="btn btn-default" ng-click="folhaTrabalhoCtrl.salvar_folha_trabalho(tab.id)">Salvar</button>
					<button type="button" class="btn btn-default" ng-click="folhaTrabalhoCtrl.exportar_folha_trabalho(tab.id)">Exportar CSV</button>
				</div>
			<!-- </section> -->
		<!-- </div> -->
	</div>
</div>