<h1 style="cursor: pointer;" ng-click="folhaTrabalhoCtrl.setTreeVisible()">{{folhaTrabalhoCtrl.titulo}}</h1>
<div class="row">
	<div class="col-md-4" ng-show="folhaTrabalhoCtrl.treeVisible">
		<div id="tree"></div>
	</div>
	<div class="col-md-6">
		<!-- <div class="container"> -->
			<!-- <section> -->
				<ul class="nav nav-pills">
					<li ng-repeat="tab in folhaTrabalhoCtrl.tabs" ng-class="{active:folhaTrabalhoCtrl.isSet(tab.id)}"><a href ng-click="folhaTrabalhoCtrl.setTab(tab.id)">Folha {{tab.id + 1}}</a></li>
					<li><a href ng-click="folhaTrabalhoCtrl.addTab()">+</a></li>
				</ul>
				<div ng-repeat="tab in folhaTrabalhoCtrl.tabs" ng-show="folhaTrabalhoCtrl.isSet(tab.id)">
					<div id="handsontable_{{tab.id}}"></div>
					<button type="button" class="btn btn-default" ng-click="folhaTrabalhoCtrl.salvar_folha_trabalho(tab.id)">Salvar</button>
					<button type="button" class="btn btn-default" ng-click="folhaTrabalhoCtrl.exportar_folha_trabalho(tab.id)">Exportar CSV</button>
				</div>
			<!-- </section> -->
		<!-- </div> -->
	</div>
</div>
<div class="row">
	<div class="col-md-12">
    	<div text-angular ng-model="folhaTrabalhoCtrl.htmlContent" name="demo-editor" ta-text-editor-class="border-around container" ta-html-editor-class="border-around"></div>
	</div>
</div>