<div class="divisoria">
    <span class="title_page">{{tipologiaCtrl.titulo}}</span>
    <button ng-show="tipologiaCtrl.data" class="fR btn btn-danger" ng-click="tipologiaCtrl.data = false">Gerar nova tipologia</button>
</div>
<div ng-hide="tipologiaCtrl.data">
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-block">
                <p class="card-text">
                    <div class="subtitle">Digite abaixo os digitos do plano de contas que deseja gerar relatório</div>
                </p>
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" type="text" ng-model="tipologiaCtrl.digits" placeholder="Digitos">
                    </div>
                </div>
                <button class="btn btn-primary" ng-click="tipologiaCtrl.calculate()">Gerar tipologia</button>
            </div>
        </div>
    </div>
</div>
<!-- <highchart id="chart1" config="tipologiaCtrl.chartConfig"></highchart> -->
<div ng-show="tipologiaCtrl.data" style="margin-top:1em;">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Período</th>
                <th>Conta</th>
                <th>Débito</th>
                <th>Crédito</th>
                <th>Saldo</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in tipologiaCtrl.data track by $index | orderBy:'item.date'">
                <td>{{item.date}}</td>
                <td>{{item.account}}</td>
                <td>{{item.debt_sum | currency:"R$ ":2}}</td>
                <td>{{item.credit_sum | currency:"R$ ":2}}</td>
                <td>{{item.outstanding_balance_sum | currency:" R$ ":2}}</td>
            </tr>
        </tbody>
    </table>
</div>
