<div class="header_table">
    <span class="title_table">{{planoContasCtrl.titulo}}</span>
    <div class="fR buttons_holder">
        <button ng-click="planoContasCtrl.gerar_plano_contas()" class="btn btn-success">Gerar Plano de Contas</button>
        <button ng-click="planoContasCtrl.add_chart_account()" class="btn btn-success">Adicionar novo Plano de Conta</button>
    </div>
</div>
<div ng-if="appCtrl.vars.soft == true">
    <div class="row">
        <div class="col-md-12">
            <div ng-bind-html="planoContasCtrl.grid"></div>
        </div>
    </div>
</div>
<div ng-if="appCtrl.vars.soft == false">
    <!-- MONGO -->
    <table ng-init="planoContasCtrl.usar_plano_contas()" id="plano_contas_mongo">
        <tr>
            <td></td>
        </tr>
    </table>
    <div id="pager_plano_contas_mongo"></div>
</div>

<script type="text/ng-template" id="modal_chart_account.html">
    <div class="modal-header">
        <h3 class="modal-title">{{planoContasCtrl.modal_titulo}}</h3>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>Conta
                <input class="form-control" type="text" name="account" ng-model="planoContasCtrl.models.account" value="">
            </label>
        </div>
        <div class="form-group">
            <label>Título
                <input class="form-control" type="text" name="desc" ng-model="planoContasCtrl.models.desc" value="">
            </label>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>
