<h1>{{diarioCtrl.titulo}}</h1>
<p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
<p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
<div id="example"></div>
<!-- <div ng-controller="diarioCtrl.ServerSideProcessingCtrl as showCase">
	<table datatable="" dt-options="showCase.dtOptions" dt-columns="showCase.dtColumns" class="row-border hover"></table>
</div> -->

<ul class="nav nav-tabs">
	<li class="active"><a data-toggle="tab" href="#home">Home</a></li>
	<li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
</ul>
<div class="tab-content">
	<div id="home" class="tab-pane fade in active">
		<h3>HOME</h3>
		<p>Some content.</p>
	</div>
	<div id="menu1" class="tab-pane fade">
		<h3>Menu 1</h3>
		<p>Some content in menu 1.</p>
	</div>
</div>